.ion-color-negro {
	--ion-color-base: var(--ion-color-negro);
	--ion-color-base-rgb: var(--ion-color-negro-rgb);
	--ion-color-contrast: var(--ion-color-negro-contrast);
	--ion-color-contrast-rgb: var(--ion-color-negro-contrast-rgb);
	--ion-color-shade: var(--ion-color-negro-shade);
	--ion-color-tint: var(--ion-color-negro-tint);
}

.ion-color-intento {
	--ion-color-base: var(--ion-color-intento);
	--ion-color-base-rgb: var(--ion-color-intento-rgb);
	--ion-color-contrast: var(--ion-color-intento-contrast);
	--ion-color-contrast-rgb: var(--ion-color-intento-contrast-rgb);
	--ion-color-shade: var(--ion-color-intento-shade);
	--ion-color-tint: var(--ion-color-intento-tint);
}

.ion-color-t1 {
	--ion-color-base: var(--ion-color-t1);
	--ion-color-base-rgb: var(--ion-color-t1-rgb);
	--ion-color-contrast: var(--ion-color-t1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-t1-contrast-rgb);
	--ion-color-shade: var(--ion-color-t1-shade);
	--ion-color-tint: var(--ion-color-t1-tint);
}