.ion-color-t1 {
	--ion-color-base: var(--ion-color-t1);
	--ion-color-base-rgb: var(--ion-color-t1-rgb);
	--ion-color-contrast: var(--ion-color-t1-contrast);
	--ion-color-contrast-rgb: var(--ion-color-t1-contrast-rgb);
	--ion-color-shade: var(--ion-color-t1-shade);
	--ion-color-tint: var(--ion-color-t1-tint);
}